*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block; 
  object-fit: cover;
}

video {
    width: 100%;
    height: 100%;
    display: block; 
    object-fit: cover;
}

body {
    background-color: rgb(255, 255, 255);
}

main {
    margin: 5rem;
}

/* STYLING AF TEKST */
@font-face {
    font-family: 'Archivo Narrow', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
}

a {
    color: rgba(0, 0, 0, 0.806);
    font-family: 'Archivo', sans-serif;
}

h1 {
    color: rgba(0, 0, 0, 0.84);
    font-family: 'Archivo', sans-serif;
}

h2 {
    color: rgba(0, 0, 0, 0.84);
}

p {
    color: rgba(0, 0, 0, 0.84);
}

/* FORSIDE */
.overskrift {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder; /* hvorfor virker dette ikke? */
}

.freja_underoverskrift {
    text-align: center;
    font-size: xx-large;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100; /* hvorfor virker dette ikke? */
}

.brodtekst {
    font-family: 'Archivo', sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
}

.link_video {
    margin-top: 1rem;
}

@media (min-width: 800px) {
.grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 10rem;
    gap: 20px;
    padding: 2rem;
}
}

@media (max-width: 800px) {
    .overskrift {
        margin-bottom: 2rem;
    }
}

/* FOTOGRAFIER */
.underoverskrift1 {
    text-align: center;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-top: 1rem;
}

@media (min-width: 800px) {
.grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10rem;
    gap: 60px;
    padding: 8rem;
}

.portraet1 {
    padding: 1rem;
}

.portraet2 {
    padding: 4rem;
}

.portraet3 {
    padding: 6rem;
}
}

@media (max-width: 800px) {
    img {
        padding: 1rem;
    }
    .underoverskrift1 {
        margin-bottom: 2rem;
    }
}

/* VIDEO */
.underoverskrift2 {
    text-align: center;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 800px) {
.grid_videoer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem;
    gap: 30px;
    margin-bottom: 15rem;
}
}

@media (max-width: 800px) {
    video {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.brodtekst2 {
    font-family: 'Archivo', sans-serif;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
}

/* FOOTER */
.footerlist {
    list-style: none;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(0, 0, 0, 0.806);
    margin: 4rem;
    font-size: medium;
}
